*{
    color: #333333;
}
/* COMMON */
.text-center{
    text-align: center;
}
/* HEADER */
.navbar {
    box-shadow: 2px 4px 5px 0px rgb(0 0 0 / 20%);
    background-color: white;
    margin-bottom: 0px;
    box-shadow: 0px 3px 4px #00000029;
    z-index: 2;
}
.navbar-brand {
    height: auto;
}
/* TEXTS */
.hsbc-title-red{
    color: #DB0011;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.hsbc-subtitle{
    font-size: 18px;
    text-align: center;
}
.hsbc-title-step{
    color: #166A48;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
}
.hsbc-text-help{
    color: #000000;
    font-size: 12px;
}
.hsbc-text-help img{
    width: 26px;
    height: 26px;
    margin-right: 16px;
}
.hsbc-text-help-red{
    color: #DB0011;
    font-size: 12px;
    text-decoration: underline;
    display: flex;
    padding-left: 5px;
}
.hsbc-text-help-red img{
    width: 12px;
    margin-right: 6px;
}
.hsbc-text-normal{
    font-size: 14px;
}
/* FOOTER */
footer iframe {
    width: 100%;
    border: none;
}
.footer-legales{
    height: 103px;
    min-height: 480px;
}

.footer-2 {
    width: 100%;
    z-index: -1;
    position: inherit;
}
/* FORM */
.hsbc-form-left{
    width: 378px;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    z-index: 1;
    padding-bottom: 30px;
    min-height: 400px;
}
.hsbc-form-right{
    width: 295px;
    height: 100%;
    background-color: #FAFAFA;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    /* z-index: -1; */
    margin-left: -8px;
    padding: 0px 20px;
    min-height: 400px;
}
.hsbc-form-content{
    padding: 10px 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hsbc-label{
    font-size: 12px;
    margin-bottom: 0px;
    margin-left: 5px;
}
.hsbc-input{
    width: 318px;
    border: 1px solid #97A2AF;
    border-radius: 6px;
    font-size: 14px;
    height: 100%;
}
.hsbc-input:focus,.hsbc-input:focus-visible{
    border: 1.5px solid #E0001A;
    outline: none;
}
.hsbc-input-icon{
    position: relative;
    width: 20px;
}
.hsbc-btn-red {
    background: #DB0011;
    border: #DB0011;
    border-radius: 6px;
    width: 318px;
    height: 43px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    font-size: 18px;
}
.hsbc-btn-red:active{
    color: white;
    background-color: #730014;
    outline: none;
}

.hsbc-btn-red:focus{
    color: white;
    background-color: #730014;
    outline: none;
    box-shadow: none;
}

.hsbc-btn-red:hover{
    color: white;
    background: #ba1110;
}

.hsbc-btn-red:disabled{
    background: #35475a;
    border: #35475a;
}
/* STEPPER */
.hsbc-stepper {
    z-index: 1;
    height: 10px;
    display: flex;
    align-items: center;
    position: relative;
    top: -1px;
}
.hsbc-stepper-progress{
    width: 70%;
    height: 8px;
    background: #7ED4AF;
    border-radius: 5px 0px 0px 0px;
    margin-right: 0px;
}
.hsbc-stepper-progress-step2{
    width: 10093%;
    height: 8px;
    background: #7ED4AF;
    margin-right: 0px;
    border-radius: 0px 5px 0px 0px;
}

.hsbc-stepper-progress-left {
    width: 63%;
    height: 8px;
    background: #B1B1B1;
    border-radius: 0px 5px 0px 0px;
}
/* DIVIDER */
.hsbc-divider{
    border: 1px solid #707070;
    width: 90%;
    margin: auto;
}
  

@media screen and (max-width: 768px) {
    .hsbc-form-left{
        height: 382px;
        width: 100%;
    }
    .hsbc-form-right{
        margin-left: 0px;
        margin-top: -5px;
        position: relative;
        height: 400px;
        width: 100%;
    }
    .hsbc-title-red{
        font-size: 22px;
    }
    .hsbc-subtitle{
        font-size: 16px;
    }
    .hsbc-text-help,.hsbc-text-help-red{
        font-size: 13px;
    }
    /* FOOTER */
    .footer-legales{
        min-height: 1050px;
    }
}

/* ZOCALO SEGUROS */

#zocalo{border-top:1px solid #4A4A49; margin-top:50px;}
#zocalo .rotulo{min-height:95px; display:flex; flex-direction:row; justify-content:flex-start; flex-wrap:nowrap; align-items:center;}
#zocalo .rotulo div{padding:5px 10px; text-align:center; width:17%; font-size:13px;}
#zocalo .rotulo div:last-child{text-align:right; padding-right:0px; width:32%;}
#zocalo .rotulo div.nro-ssn span{font-weight:700;}
#zocalo .rotulo div.telefono{font-weight:700; color:#29ABE2; font-size:14px;}
#zocalo .rotulo div.web{font-weight:700; color:#29ABE2; font-size:14px;}
#zocalo .rotulo div.web a{text-decoration:none; color:#29ABE2;}
#zocalo .rotulo div.nro-ssn{border-right: 1px solid #4A4A49;}
#zocalo .rotulo div.telefono{border-right: 1px solid #4A4A49;}
#zocalo .rotulo div.departamento{width: 19% !important;}
 @media(max-width:959px){
   #zocalo .rotulo{display:block;}
   #zocalo .rotulo div{width:100%;}
   #zocalo .rotulo div:last-child{text-align:center;}
}
#zocalo .detalle p{margin-bottom:10px;}
#zocalo .detalle .entidades{background-color:#EDF0EF; padding:20px;}
#zocalo .detalle .entidades a{font-weight:700; text-decoration:none;}
#zocalo .detalle .atencion{padding:20px;}
#zocalo .detalle .atencion p:first-child{font-weight:700;}
#zocalo .emisora{padding:20px 10px;}
#zocalo .emisora p{margin-bottom:10px;}
